.App {
    background-color: #fff1b8;
    height: 100%;
}

.App-header {
    height: 40px;
    background-color: #ffc53d;
    line-height: 40px;
}

.header-nav {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header-nav a {
    display: block;
    margin-right: 10px;
}

.header-nav a:last-of-type {
    margin-right: 0;
}

.content {
    width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}




