@import '~antd/dist/antd.css';

.App {
    background-color: #f2efef;
    height: 100%;
}

.App-header {
    height: 50px;
    margin-bottom: 30px;
    background-color: #DC2F2C;
    line-height: 50px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.header-nav {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header-nav a {
    display: block;
    margin-right: 10px;
    color: #fefefe;
    font-size: 16px;
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-nav a:last-of-type {
    margin-right: 0;
}

.content {
    width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding-top: 30px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.meals-categories-list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.category-name {
    display: block;
    border-bottom: 1px solid #333333;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.meals-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-meals-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.meal {
    margin-bottom: 20px;
    position: relative;
    height: 25px;
    line-height: 25px;
}

.meal-btn {
    position: absolute;
    right: 20px;
}


